extends layout

block content
  h1= title
  
  ul
    each presenter in presenter_list
      li 
        a(href=presenter.url) #{presenter.name} 

    else
      li There are no presenters.