extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='HSName') School Name:
      input#name.form-control(type='text', placeholder='Name of School' name='HSName' value=(undefined===school ? '' : school.HSName))
    div.form-group
      label(for='HSID') School Identification Number:
      input#name.form-control(type='text', placeholder='School Identification Number' name='HSID' value=(undefined===school ? '' : school.HSID))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
