
extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(undefined===topic ? '' : topic.title) )
      label(for='description') Description:
      input#description.form-control(type='text' placeholder='Summary' name='description' required='true' value=(undefined===topic ? '' : topic.name) )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg